.alert-message-text{
	padding-top: 9px;
	font-size: 20px;
	font-weight: 600; 
}

.alert-message-wrap{
	display: inline-block;
}

.blue-icon {
    color: #157fcc !important;
    margin-right: 10px;
}
.x-mask {
    background-image: none;
    background-color: #848484d4 !important;
    cursor: default;
    border-style: solid;
    border-width: 0px  !important;
    border-color: transparent;
}

.grid-cls .x-grid-header-ct {
    border: 1px solid #c2c2c2 !important;
}
.grid-cls .x-grid-body {
    border-top-color: #c2c2c2;
    border: 1px solid #c2c2c2 !important;
}